:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
}

.btn {
  color: var(--main-text-color);
  background-color: var(--third-background-color);
  border: none;
  cursor: pointer;
}

/* Header */
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.accent-logo {
  color: var(--accent-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.nav-link:hover,
.nav-link:focus,
.second-address-link:hover,
.second-address-link:focus {
  color: var(--accent-color);
}

.second-address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

/* Hero */

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--third-text-color);
}

.hero-section {
  background-color: var(--second-background-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
}

/* Benefits */

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-desc {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* What we do */

.header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Our team */

.our-team {
  background-color: var(--third-background-color);
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: Center; */
  letter-spacing: 0.03em;
}

.team-desc {
  font-size: 16px;
  line-height: 1.19;
  /* text-align: Center; */
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* Footer */

.address-section {
  background-color: var(--second-background-color);
}

.main-address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: Left;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.address-specialty {
  color: rgba(255, 255, 255, 0.6);
}

.main-address-link:hover,
.main-address-link:focus {
  color: var(--accent-color);
}

/* Portfolio */

.portfolio-section {
  background-color: #ffffff;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: Center;
  letter-spacing: 0.03em;
}

.project-card > .project-header {
  font-size: 18px;
  line-height: 2;
  text-align: Left;
  letter-spacing: 0.06em;
}

.project-desc {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  letter-spacing: 0.03em;
}

.current {
  color: var(--accent-color);
}
